.input {
  border: 1px solid $color-primary;
  border-radius: $radius-primary;
  padding: 1rem;

  &:placeholder {
    color: $color-gray;
  }
  &:focus {
    transition: all 200ms ease-in;
    box-shadow: darken($color: $color-primary, $amount: 10%) 0px 0px 0px 1px;
  }
}
