$color-primary: #21272f;
$color-secondary: #41a1b8;
$color-tertiary: #be0007;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #6b7280;

$color-warning: #ec6b00;
$color-success: #6aa339;

$color-aux-orange: #f59e0b;
$color-aux-red: #ef4444;
$color-aux-yellow: #ffcc03;
$color-aux-green: #10b981;
$color-aux-pink: #ec4899;
$color-aux-purple: #8b5cf6;
$color-aux-indigo: #6366f1;
$color-aux-blue: #3b82f6;
