/* Sizes */
h1 {
  font-size: $fontsize-h1;
}
h2 {
  font-size: $fontsize-h2;
}
h3 {
  font-size: $fontsize-h3;
}
h4 {
  font-size: $fontsize-h4;
}
h5 {
  font-size: $fontsize-h5;
}
h6 {
  font-size: $fontsize-h6;
}

/* Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0.5em 0;
  line-height: 1.5;
}

p {
  margin: 0.5em 0;
}
